<a href="https://colab.research.google.com/github/mondragonsi/sharedPython/blob/main/Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
print("Hello world")

Hello world

In [23]:
import pandas as pd

path_cli = "/content/aula1/clientes.csv"
path_ag =  "/content/aula1/agencias.csv"
path_output = "/content/aula1/cli_ag.csv"

cli_data_frame = pd.read_csv(path_cli)
ag_data_frame = pd.read_csv(path_ag)

cli_data_frame.head(10)

      nome  num_agencia  saldo
0    bruno         5657   1000
1    fabio         5657   2000
2      Nil         1310   2000
3   Debora         1310   1500
4  Pedroca         2020    700
5     Elza         2020   6000
6    Lucia         1717   8000
7   Angela         1717   2000

In [24]:
ag_data_frame.head(5)

   num_agencia              endereco
0         5657  av marechal floriano
1         1310   av sete de setembro
2         1717                rua xv

In [25]:
#Juntango (merge) os 2 data frames e depois escrevendo em um arquivo csv
cli_ag_df = pd.merge(cli_data_frame, ag_data_frame, 
                              on='num_agencia', how='inner')
cli_ag_df.head(20)

cli_ag_df.to_csv(path_output,index=False)